#PLAY
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.cache
/.target
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt

# ECLIPSE
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# Node
!typings

bower_components
node_modules
frontend/plugins
frontend/platforms
frontend/resources

# Database
backend/app/db/

# Build, this should be added in the build-0.0.1 branch
# build

# Mac
.DS_Store
