//------------------------------
//- Main view
//-
//- Author Dominique Rau
//- Version 0.0.1-alpha.0



//- Container
div(layout='column' layout-fill)



	//- Navbar
	md-toolbar()
		.md-toolbar-tools
			b Profugus
			span(flex)
			//- md-button
			//- 	| Button



	//- Content

	md-tabs(flex, md-stretch-tabs="auto", md-selected="mainCtrl.currentTab")



		//- Info tap
		md-tab(label='Info', md-on-select="mainCtrl.tabService.setCurrent('main', 0)")
			md-content.md-padding(layout="column" layout-align="center center")
				p
					| This site ist still under construction
					| Diese Seite befindet sich derzeit im Aufbau.
				img(src="img/placeholder.construction.png", alt="Construction placeholder")


		//- Event tab
		md-tab(label='Events', md-on-select="mainCtrl.tabService.setCurrent('main', 1)")
			event-page(layout="column")
