

<div layout="column" layout-fill="layout-fill"><md-toolbar><div class="md-toolbar-tools"><b>Profugus</b><span flex="flex"></span>

</div></md-toolbar><md-tabs flex="flex" md-stretch-tabs="auto"><md-tab label="Info"><md-content layout="column" layout-align="center center" class="md-padding"><p>This site ist still under construction
 Diese Seite befindet sich derzeit im Aufbau.</p><img src="img/placeholder.construction.png" alt="Construction placeholder"/></md-content></md-tab><md-tab label="Events"><event-page></event-page></md-tab></md-tabs></div>