

<div layout="column" layout-fill="layout-fill"><md-toolbar><div class="md-toolbar-tools"><b>Profugus</b><span flex="flex"></span>

</div></md-toolbar><md-tabs flex="flex" md-stretch-tabs="auto" md-selected="mainCtrl.currentTab"><md-tab label="Info" md-on-select="mainCtrl.tabService.setCurrent('main', 0)"><md-content layout="column" layout-align="center center" class="md-padding"><p>This site ist still under construction
 Diese Seite befindet sich derzeit im Aufbau.</p><img src="img/placeholder.construction.png" alt="Construction placeholder"/></md-content></md-tab><md-tab label="Events" md-on-select="mainCtrl.tabService.setCurrent('main', 1)"><event-page layout="column"></event-page></md-tab></md-tabs></div>