//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//- Style
link(rel='stylesheet', href='/components/event/views/event.css')





//------------------------------
//- Header
.ev-wrapper





	//------------------------------
	//- Toolbar
	//- div(md-header-picture)
	//- md-toolbar(scroll)
	md-toolbar
		.md-toolbar-tools
			md-button.md-icon-button(aria-label='Main', ng-click="eventCtrl.clickedBack()")
				md-icon.material-icons arrow_back
			//- h2(md-header-title)
			//- 	b FlickSTUFF
			span(flex)
			//- md-button.md-icon-button(aria-label='Detect')
			//- 	md-icon.material-icons surround_sound
				//- md-icon(md-svg-icon='img/icons/favorite.svg', style='color: greenyellow;')
			md-button.md-icon-button(aria-label='Search', href="/#/search")
				md-icon.material-icons search





	//------------------------------
	//- Content
	.ev-content





		//------------------------------
		//- Event description
		//- .main-fab
		md-card
			img.md-card-image(ng-src='{{eventCtrl.eventService.show.info.imageUrl}}', alt="{{eventCtrl.eventService.show.info.title}}", style="max-height:200px")
			md-card-title(style="padding:16px 16px 0 16px")
				md-card-title-text
					.md-headline {{eventCtrl.eventService.show.info.title}}
			md-card-content
				p {{eventCtrl.eventService.show.info.descriptionShort}}
			md-card-actions(layout='row', layout-align='end center')
				md-button.md-icon-button(aria-label='Favorite')
					md-icon.material-icons favorite
				//- md-button.md-icon-button(aria-label='Collection')
				//- 	md-icon.material-icons menu
				md-button.md-icon-button(aria-label='Share')
					md-icon.material-icons share

		//- md-button.md-fab.md-accent(aria-label='Float Action Button')
		//- 	md-icon.material-icons star





		//------------------------------
		//- Stream
		section#page-section
			div(stream-component)
