//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//- Menu
div(tellyb-menu)





//------------------------------
//- Selected channel
.ui.page.grid
	.one.column.row(style="margin-top:10px")
		.column
			.ui.top.attached.segments
				.ui.segment

					//- Selection header

					.ui.equal.height.grid
						.row
							.three.wide.column
								img.ui.medium.circular.image(
									ng-src="/images/logos/{{channelCtrl.channelService.storage.selectedChannel.info.logoUrl}}",
									style="background-color:grey;height:120px;width:120px;padding:20px;margin-top:0")
							.thirteen.wide.column
								.ui.grid
									.row

										.eleven.wide.column(style="align-self:center")
											h1.ui.header {{channelCtrl.channelService.storage.selectedChannel.info.name}}
											p 700 Events  &nbsp;&nbsp;⦁&nbsp;&nbsp; 1000 Produkte
										.five.wide.right.aligned.column
											.ui.basic.button(ng-click="channelCtrl.clickedChangeDate()")
												| {{channelCtrl.selectedDate | date:"dd.MM.yyyy"}}
									.row
										.right.aligned.column
											.ui.circular.inverted.icon.button(ng-click="channelCtrl.clickedAddEvent()")
												i.add.icon

				.ui.segment(ng-if="channelCtrl.isSelectingDate")
					.ui.grid
						.one.column.row
							.column
								div(sui-calendar, ng-model="channelCtrl.selectedDate")
						.one.column.row
							.right.aligned.column
								.ui.buttons
									.ui.button(ng-click="channelCtrl.clickedCancleDate()") Cancle
									.ui.green.button(ng-click="channelCtrl.clickedLoadDate()") Load


				.ui.segment(ng-if="channelCtrl.showEventPanel")
					form.ui.form
						.ui.heading
							h3 New Event
						.two.fields
							.field
								input(type="text", placeholder="Event id",ng-model="channelCtrl.eventToAdd.id")
								label Event Id
							.field
								input(type="text", placeholder="Title",ng-model="channelCtrl.eventToAdd.info.title")
								label Title

						.two.fields
							.field
								input(type="text", placeholder="Start time in unix ms",ng-model="channelCtrl.eventToAdd.info.startTimeUtcEpoch")
								label StartEpoch
							.field
								input(type="number", placeholder="Duration in ms", ng-model="channelCtrl.eventToAdd.info.duration")
								label Duration
						.fields
							.twelve.wide.field
							.four.wide.field
								.ui.fluid.buttons
									.ui.button(ng-click="channelCtrl.clickedCancelAddEvent()") Cancel
									.ui.green.button(ng-click="channelCtrl.clickedSaveAddEvent()") Save





				//------------------------------
				//- Event list
				table.ui.padded.table(style="border:none")
					thead
						tr
							th.two.wide Zeitt
							th.one.wide.right.aligned Show
							th.ten.wide Titel
							th.two.wide.right.aligned Actions
					tbody
						tr(ng-repeat="event in channelCtrl.channelService.storage.selectedChannelEvents | filter:channelCtrl.view.search", ng-class="{active: channelCtrl.checkIfActive(event)}")
							td {{event.info.startTimeUtcEpoch | date:'hh:mm'}} - {{event.info.endTimeUtcEpoch | date:'hh:mm'}}
							td.right.aligned
								i.check.green.circle.outline.icon(ng-show="event.showId")
							td(ng-click="channelCtrl.clickedEditEvent(event.id)", style="cursor:pointer")
								span {{event.info.title}} &nbsp;
								i(ng-if="event.meta.kabeldeutschland.relay") (Staffel {{event.meta.kabeldeutschland.relay}} -&nbsp;
								i(ng-if="(!event.meta.kabeldeutschland.relay) && event.meta.kabeldeutschland.series_number") (
								i(ng-if="event.meta.kabeldeutschland.series_number") Episode {{event.meta.kabeldeutschland.series_number}})
							td.right.aligned
								.ui.mini.buttons
									.ui.red.icon.button()
										i.trash.icon
									.ui.mini.blue.button(ng-click="channelCtrl.clickedEditEvent(event.id)") Edit
