div(sui-amazon-search, on-search="amazonCtrl.onSearch(term)", on-clear="amazonCtrl.onClear()")

table.ui.small.celled.table(ng-if="amazonCtrl.isAmazonActive")
	thead
		tr
			th.three.wide Category
			th.eight.wide Title
			th.two.wide Price
			th.three.wide Info
	tbody
		tr(ng-repeat-start="item in amazonCtrl.amazonService.amazonResults")
			td {{item.type}}
			td
				h5.ui.heading(ng-click="item.isActive = !item.isActive", style="cursor:pointer") {{item.title}}
			td {{item.price/100 | currency:"€"}}
			td
				.ui.mini.fluid.buttons
					.ui.blue.button(ng-click="amazonCtrl.clickedAddItem(item)") Add
					.ui.button(ng-click="amazonCtrl.clickedShowItem(item)") Show

		tr(ng-if="item.isActive")
			td
				img.ui.small.image(ng-src="{{item.details.data.itemImageUrl}}")
			td
				p {{item.details.data.description}}
			td
			td

		tr(ng-repeat-end, ng-hidden="true")
