.ui.grid#hero(style="background-image: url('images/background-gradient.png');background-size: cover;margin-top: 0px;")
	.row
		.column
			.ui.page.grid
				.row
					.column
						.ui.four.link.cards
							.card(ng-repeat="hilight in hilightsCtrl.hilights", ng-click="hilightsCtrl.clickedEvent(hilight)")
								.small.image
									img(ng-src="{{hilight.show.info.imageUrl}}", style="height:140px")
								.content
									.header(ng-bind-html="hilight.info.title")
