//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//- Menu
div(tellyb-menu)





//------------------------------
//- Selected channel

.ui.padded.grid

	//- Selection header
	.row
		.three.wide.column
			img.ui.medium.circular.image(ng-src="/images/logos/{{channelEditorCtrl.channel.info.logoUrl}}", style="background-color:grey;height:120px;width:120px;padding:20px;margin-top:0")
		.thirteen.wide.column
			form.ui.form
				.field
					label Name
					input(type='text', name='first-name', placeholder='Name', ng-model="channelEditorCtrl.channel.info.name")
				button.ui.green.right.floated.button(type='submit', ng-click="channelEditorCtrl.clickedSave()") Save

