//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//- Menu
div(tellyb-menu)





//------------------------------
//- Selected event
.ui.page.grid
	.one.column.row(style="margin-top:10px")
		.column
			.ui.segments





				//------------------------------
				//- Header
				h2.ui.top.attached.header(ng-click="showCtrl.clickedDebug()") Show: &nbsp;
					i {{showCtrl.showService.storage.show.id}}





				//------------------------------
				//- Metadata
				.ui.segment
					.ui.equal.height.grid
						.row
							.four.wide.column
								img.ui.medium.image(
									ng-src="{{showCtrl.showService.storage.show.info.imageUrl}}",
									style="height:200px;width:200px;margin-top:0")
							.eleven.wide.column(style="align-self:center")
								h1.ui.header(style="margin-bottom:0") {{showCtrl.showService.storage.show.info.title}}
								i(style="", ng-if="showCtrl.showService.storage.show.meta.kabeldeutschland.relay") (Staffel {{showCtrl.showService.storage.show.meta.kabeldeutschland.relay}} -&nbsp;
								i(style="", ng-if="(!showCtrl.showService.storage.show.meta.kabeldeutschland.relay) && showCtrl.showService.storage.show.meta.kabeldeutschland.series_number") (
								i(style="", ng-if="showCtrl.showService.storage.show.meta.kabeldeutschland.series_number") Episode {{showCtrl.showService.storage.show.meta.kabeldeutschland.series_number}})


								p(style="\
									text-overflow: ellipsis;\
									display: block;\
									overflow: hidden;\
									display: -webkit-box;\
									-webkit-line-clamp: 4;\
									-webkit-box-orient: vertical;")
									br
									b Description:
									span(ng-bind-html="showCtrl.showService.storage.show.info.descriptionLong")
							.two.wide.column





				//------------------------------
				//- Header
				.ui.segment(ng-show="showCtrl.view.itemEditorIsEnabled")
					.ui.grid
						.middle.aligned.two.column.row
							.column
								h3.ui.header Item Editor
							.right.aligned.column
								.ui.small.blue.basic.icon.button(ng-click="showCtrl.view.itemEditorIsEnabled = false") Hide
						.one.column.row
							.column
								div(item-editor-segment)





				//------------------------------
				//- Products
				.ui.segment
					.ui.grid
						.middle.aligned.two.column.row
							.column
								h3.ui.header Show Stream
							.right.aligned.column
								.ui.small.blue.basic.icon.button(ng-click="showCtrl.clickedAddItem()") Add Item
						.one.column.row
							.column
								p(ng-show="showCtrl.streamService.storage.items.length <= 0") Empty stream
								table.ui.small.compact.celled.table(ng-show="showCtrl.streamService.storage.items.length > 0")
									thead
										tr
											th.two.wide UUID
											th.eleven.wide Title
											th.one.wide Time
											th.two.wide Actions
									tbody
										tr(ng-repeat="item in showCtrl.streamService.storage.items")
											td {{item.id | truncate: 9: "..."}}
											td {{item.info.title}}
											td {{item.info.startTimeRelative}}
											td
												.ui.two.mini.buttons
													.ui.mini.red.button(ng-click="showCtrl.clickedDeleteItem(item)")
														| Delete
													.ui.mini.button(ng-click="showCtrl.clickedEditItem(item)")
														| Edit




