//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//- Menu
.ui.inverted.stackable.menu(style="border-radius:0")
	#menu-container.ui.container

		//- Left
		a.item(ng-href="#/")
			b flickSTUFF

		//- Right
		.right.menu
			.item
				.ui.icon.input
					input(
						type='text',
						placeholder='Search...')
					i.search.link.icon
			a.item(ng-href="#/settings")
				i.settings.icon