// App Style
//
// *Author:* Dominique Rau [domi.rau@gmail.com](mailto:domi.rau@gmail.com)<br/>
// *Version:* 0.0.1-alpha.0
@import 'flexbox'
// @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100)


md-input-container .md-errors-spacer {
    min-height: 0;
}
// ----------------
// Layout
// ----------------
// html,
// body {
//   height: 100%;
//   width: 100%;
//   overflow: auto;
// }