.init-page {
	.page-first{
		background-image: url("/img/screen.welcome.png");
		background-size: cover;
		h2 {
			color: white;
			font-size: 5rem;
		}
	}
	.page-second{
		.slide-container{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			// align-content: center;
			// justify-content: center;
			// align-items: center;

			// background-color: red;
			.lang-selection-container{
				flex-grow: 1;
				display: flex;
				flex-direction: row;
				align-content: center;
				justify-content: center;
				align-items: center;
				.selection-left{
					display:flex;
					align-items: center;
					justify-content: center;
					padding: 0 10vh;
				}
				.selection-right{
					display:flex;
					align-items: center;
					justify-content: center;
					padding: 0 10vh;
				}
			}


			.name-container{
				grow: 1;
			}
		}



	}
	.page-third{
		.third-slide-container{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			.agb-container{
				flex-grow:1;
				overflow:scroll;
			}
		}
	}

	.next-button{
		min-height: 7vh;
		color: white;
		background-color: hsla(0, 0%, 29%, 1);
		display: flex;
		justify-content: flex-end;
	}
}