//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//-
div
	md-content
		md-list
			md-list-item.md-3-line(ng-repeat='event in highlightsCtrl.highlightsService.storage.tvHighlights', ng-click="highlightsCtrl.clickedEvent(event)")
				//- img.face(ng-src='{{event.show.info.imageUrl}}', alt='{{event.info.title}}')
				.md-list-item-text
					h3 {{event.info.title}}
					//- h4 {{event.info | json}}
					p {{event | eventDurationFilter}}
				md-divider(md-inset='', ng-if='!$last')

