//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//- Channel Events
md-toolbar#tv-toolbar(fixed-toolbar)
	.md-toolbar-tools
		md-button.md-icon-button(aria-label='Main', href="/#/")
			md-icon.material-icons arrow_back
		h2
			b {{channelCtrl.channelService.channel.info.name}}
		span(flex)
		md-button.md-icon-button(aria-label='Search', href="/#/search")
			md-icon.material-icons search





//------------------------------
//- Events
md-content#tv-content

	section
		md-subheader.md-primary Früher
		md-list(layout-padding='')
			md-list-item.md-3-line(ng-repeat='event in channelCtrl.channelService.events | pastEventFilter', ng-click="channelCtrl.clickedEvent(event)")
				.md-list-item-text
					h3 {{event.info.title}}
					h4 {{event | eventDurationFilter}}
					//- p {{message.notes}}
	section(scroll-into-view)
		md-subheader.md-warn Aktuell
		md-list(layout='column', layout-padding='')
			md-list-item.md-3-line(ng-repeat='event in channelCtrl.channelService.events | currentEventFilter', ng-click="channelCtrl.clickedEvent(event)")
				.md-list-item-text
					h3 {{event.info.title}}
					h4 {{event | eventDurationFilter}}
					//- p {{message.notes}}
	section
		md-subheader Später
		md-list(layout='column', layout-padding='')
			md-list-item.md-3-line(ng-repeat='event in channelCtrl.channelService.events | futureEventFilter', ng-click="channelCtrl.clickedEvent(event)")
				.md-list-item-text
					h3 {{event.info.title}}
					h4 {{event | eventDurationFilter}}
					//- p {{message.notes}}



	//- md-list
	//- 	md-list-item.md-2-line(ng-repeat='event in channelCtrl.channelService.events')
	//- 		.md-list-item-text
	//- 			h3 {{event.info.title}}  
	//- 			p {{event | eventDurationFilter}}
	//- 		md-divider(ng-if='!$last')


	//- md-list
	//- 	md-list-item.md-2-line(ng-repeat='event in channelCtrl.channelService.events')
	//- 		img.md-avatar
	//- 		.md-offset
	//- 		md-list-item-text
	//- 			h3 {{event.info.title}} json}} eventDurationFilter}}
	//- 		//- md-divider(md-inset, ng-if='!$last')