//------------------------------
//- @author Dominique Rau
//- @version 0.0.2





//------------------------------
//-
div
	md-content(layout="column")
		md-button.md-raised(flex, ng-click="fingerprintCtrl.clickedListen()", ng-if="!fingerprintCtrl.isListeing")
			md-icon.material-icons mic
		#fingerprint-container(ng-if="fingerprintCtrl.isListeing", ng-click="fingerprintCtrl.clickedListenAbort()")
		ul#reclist
